# Python environment
venv/
__pycache__/
*.py[cod]

# Sensitive Data
.env

# AI Models & Audio (Usually too large for Git)
*.ppn
*.pt
src/audio/*.wav

# IDE Settings
# Test Files
src/test_gestures_logic.py
